.menu {
    display: flex;
    flex-flow: column nowrap;

    overflow: auto;

    z-index: 8;
    position: fixed;
    top: 65px;
    height: calc(100% - 65px);
    width: 100%;
    background-color: #FFFFFF;

    padding-bottom: 25px;
    &-social {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        gap: 15px;
        margin: 25px 0;
        padding: 0 50px;

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;

            border: 1px dotted #E1E1E2;
            border-radius: 4px;

            height: 48px;
            width: 48px;

            transition: .3s all;
            cursor: pointer;
            &:hover {
                background-color: #E1E1E2;
            }
        }
    }

    &__button {
        align-self: flex-start;

        font-size: 12px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;


        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 auto;
        
        cursor: pointer;
        background-image: url('@/assets/images/menu_button.svg');
        background-position: center bottom;
        background-repeat: no-repeat;
        min-height: 50px;
        min-width: 277px;
        overflow: hidden;
        transition: .3s all;

        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 1px;
            left: 50%;
            transform: translateX(-50%);
            width: 30px;
            height: 2px;
            background-color: #8E9FBC;
            transition: .6s;
        }
        &:hover {
            &::after {
                width: 140px;
            }
        }
    }

    &-navigation {
        padding: 0 50px;

        margin: 55px 0;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        gap: 10px;
        
        &__item {
            display: flex;
            align-items: center;

            padding: 15px 0;

            font-size: 14px;
            text-transform: uppercase;

            color: #7A8084;
            cursor: pointer;

            &.nav {
                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    transform: translateY(-50%) rotate(-90deg);
                    right: -95px;
                    height: 32px;
                    width: 32px;
                    background-image: url('@/assets/images/dropdown.svg');
                    background-repeat: no-repeat;
                    background-position: center;

                    transition: .3s all;
                }
            }
        }

        &.links {
            padding: 0;
            margin-top: 0;
            & .menu-navigation__item {
                padding: 15px 50px;

                &.back {
                    align-items: center;
                    justify-content: center;
                    padding: 17px 0;
                    font-weight: bold;
                    font-size: 12px;
                    text-transform: uppercase;
                    color: #22282D;
                    background-color: #F5F5F5;
                    text-align: center;
                    width: 100%;

                    position: relative;
                    &::after {
                        position: absolute;
                        content: '';
                        top: 50%;
                        transform: translateY(-50%);
                        left: 35px;
                        height: 32px;
                        width: 32px;
                        background-image: url('@/assets/images/back.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .menu {
        top: 80px;
        height: calc(100% - 80px);
    }
}
@media screen and (max-width: 500px) {
    .menu {
        &-navigation {
            align-items: flex-start;
        }
        &-social {
            justify-content: flex-start;
            align-items: flex-start;
        }
        &__button {
            margin: 0;
            margin-left: 50px;
        }
        &-navigation {
            &__item {
                width: 100%;
                &.nav {
                    &::after {
                        top: 50%;
                        transform: translateY(-50%) rotate(-90deg);
                        right: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .menu {
        display: none !important;
    }
}