.filter {
    border-bottom: 1px solid #E2E3E3;

    &-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    &-select, &-slider, &-button {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 25px 40px;
        border-left: 1px solid #E2E3E3;
        min-height: 120px;
    }

    &-button {
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 85px;
    
            background: #8E9FBC;
            border-radius: 4px;
    
            font-size: 12px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.6px;
            text-transform: uppercase;
            outline: 0;
            border: 0;
    
            color: #FFFFFF;
            cursor: pointer;
        }
        
    }

    &-slider {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;

        width: 480px;

        &__title {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;

            color: #22282D;
        }

        &-values {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 10px;

            width: 100%;

            &__slider {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #22282D;

                display: flex;
                flex-flow: row nowrap;
                & span {
                    opacity: .5;
                    margin: 0 5px;
                    white-space: pre;
                }

                &:first-child {
                    margin-right: 15px;
                }
            }
            &__wallet {
                min-width: 34px;
                min-height: 34px;
                max-width: 34px;
                max-height: 34px;

                font-weight: 400;
                font-size: 16px;
                text-align: center;

                color: #22282D;

                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 2px;

                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;
                transition: .3s all;
                &.active {
                    background-color: #8E9FBC;
                    border: 1px solid #8E9FBC;
                    color: #FFFFFF;
                }
            }
        }

        position: relative;
        &__item {
            left: 0;
            bottom: -10px;
            position: absolute;
            width: 100%;

            & .vue-slider {
                &-rail {
                    background-color: transparent;
                }
                &-process {
                    background-color: #8E9FBC;
                }
                &-dot {
                    background-color: #FFFFFF;
                    border: 3px solid #8E9FBC;
                    border-radius: 100%;
                    &-handle {
                        box-sizing: unset;
                        &-focus {
                            box-shadow: unset !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .filter {
        display: none;
    }
}